* {
    background-color: black;
    font-size: 16px;
}

.header {
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#grid-container {
    display: grid;
    grid-column: 2;
    grid-template-rows: repeat(3 1fr);
    grid-template-columns: repeat(3, minmax(150px, 200px)); 
    justify-content: center;
    gap: 1px;
}

.grid-cell {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: wheat;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.player {
    color: white;
    display: grid;
    justify-content: center;
}

#player-one, #x-button, #player-one-turn {
    grid-column: 1;
    grid-row:  1;
}

#player-two, #o-button, #player-two-turn {
    grid-column: 3;
    grid-row: 1;
}

#clear-board {
    background-color: wheat;
    color: black;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.player-turn {
    color: white;
    display: grid;
    justify-self: center;
    margin-top: 20px;
}